[Unit]
Description=USB gadget
After=systemd-modules-load.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usb_gadget
 
[Install]
WantedBy=sysinit.target
