{% extends "page" %}
{% block content %}
    <h1>Ask.fm export for {{ username }}</h1>
    <ul>
    	<li><a href="html/answers/{{ username }}/0000.html">Your answers</a></li>
    	<li><a href="html/friends.html">Your friends and their answers</a></li>
    </ul>
{% endblock %}
